{% extends 'base.html.twig' %}

{% block title "Hello React" %}

{% block body %}
    <h1>Page Hello</h1>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
